[submodule "StrangeMachine/vendor/cimgui"]
	path = StrangeMachine/vendor/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "StrangeMachine/vendor/logc"]
	path = StrangeMachine/vendor/logc
	url = git@github.com:rxi/log.c.git
[submodule "StrangeMachine/vendor/cglm"]
	path = StrangeMachine/vendor/cglm
	url = https://github.com/recp/cglm.git
[submodule "StrangeMachine/vendor/dmon"]
	path = StrangeMachine/vendor/dmon
	url = https://github.com/septag/dmon
